body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  background-image: url('assets/mansion-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
